@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-color: #FFF8F0;
    --text-color: #2C2C2C;
    --primary-red: #8B1A1A;
    --secondary-green: #5C6B45;
    --decorative-gold: #d87b1d;
    --strong-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Bonheur Royale, sans-serif;
    color: var(--text-color);
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x:clip;
    
}

.text-large {
    font-size: 120%;
  }
.navi {
   
    height: 4rem;
    background-color: #EAD9C0;
    justify-items: flex-end;
    align-items: center;
    max-width: 100%;
}

.navi .links-nav {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    

}

.navi a {

    height: 100%;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: #2e2d2d;

}

.navi a:hover {
    color: #d87b1d;
}

.navi .home-link {
    font-size: 1.8rem;

    margin-right: auto;
    font-family: Bonheur Royale, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hero {
    padding: 23.8rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(images/image-2.png),
    linear-gradient(#504f4f,#2e2d2d);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;

}


.butn {
    position: absolute;
    top: 75%;
    background-color: #8B1A1A;
    padding: 2rem 3rem;
    border: none;
    font-size: 3em;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-family: Poppins, Bonheur Royale;
}


.butn:hover{
    transform: scale(1.1);
    transition: ease-in-out 200ms 100ms ;
}
.hero-text {
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF8F0;
    font-size: 16em;
}

.hero-text h1 {
    color: #d87b1d;
    font-family: Bonheur Royale, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.hero-text h1:hover{
    transition: 300ms 200ms ease-in;
    transform: scale(1.1);
    color: #d87b1d;

}

.hero-text p {
    color: beige;
    font-size: 4rem;
    margin: 0% 0% 0 10% ;

}


.about {
    background-color: #FFF8F0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:4%;

}

.about h2 {
    padding-top: min(1.5rem,3vh + 1rem);
    font-size: calc(1.575rem + 3.9vw);
        color: #5C6B45;
    padding-bottom: min(1.1rem,2vh);
    overflow: visible;
}

.about p {
    overflow: visible;
    font-size: clamp(1rem,3.5vh,1.5rem);
    margin-left:  min(1rem,10%);
    margin-right:  min(1rem,10%);

}
.bg-beige {
    background-color: #FFF8F0; /* Standard beige hex code */
}
.success{
    color: #5C6B45;

}
.about .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.about-image img{
    margin-top: 1.5rem;
    padding-left:  10%;
    padding-right:  10%;
    max-width: 100% ;
    height: auto;
}

.menu {
    background-color: #FFF8F0;
    padding-bottom: 3rem;
}

.menu h2 {
    font-size: clamp(2rem, 6vh + 1rem, 4rem);
    color: #5C6B45;
    padding-bottom: 2.5rem;
    padding-top: 3.5rem;
    text-align: center;
}

.menu .panels {

    margin-left: 7.5%;
    margin-right: 7.5%;
    display: grid;
    gap: 1.3rem;
    grid-template-areas: "recipe1 recipe2 recipe3"
        "recipe4 recipe5 recipe6";

}

.menu .panels .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color:whitesmoke;
    border: #d87b1d solid 1px;
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.menu .panels .panel img {
width: auto;
height: auto;}



.menu .panels .panel h3 {
    padding: 1rem 1rem 0 1rem;
    font-size: 2.5rem;
    color: #d87b1d;
}

.menu .panels .panel p {
    padding: 1.5rem;
}

.menu .panels .panel .price {
    letter-spacing: 1px;
    font-weight: 700;
}

.contact {
    background-color: #FFF8F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;


}

.contact h4 {

    margin-top: 3.5rem;
    font-size: 2.5rem;
    color: #5C6B45;
    margin-bottom: 1.5rem;
    

}

.contact ul li {
    font-size: 1.5rem;
    line-height: 120%;
    white-space: nowrap;
    
}
.contact iframe{
    position: relative;
    top: 25px;

    width: 75%;

    
}
.chef{
    height: 30vh;
    z-index: 10;
   
        position:fixed;
        bottom: 120px;
        right: 20px;
        width: 400px
    
        
    }


    .chef img{
        position:fixed;
        bottom: 120px;
        right: 40px;
        height: 120px;
        width: 80px;
        animation: appear 0.6s ease-in 1s 1 normal both,
        slideToLeft 0.6s ease-in 2s 1 normal both,
        flicker 6s ease-in 5s infinite normal both ;
            transform-origin: bottom center;
    
    
    }
    
    .chef::before{
        content: "Welcome!";
        position: absolute;
        z-index: 1;
        top: 140px;
        right: 80px;
        color: #2C2C2C;
        background-color: #FFF8F0;
        padding: 3vh 0.75vw;
        border: #d87b1d 2px solid;
        border-radius: 15px;
        opacity: 0;
    
    }
    .chef:hover::before{
        content: "Welcome!";
        position: absolute;
        z-index: 1;
        top: 120px;
        right: 80px;
        color: #2C2C2C;
        background-color: #FFF8F0;
        padding: 2vh 5vw;
        border: #d87b1d 1px solid;
        border-radius: 15px;
        opacity: 1;
    
    }
    


@media(max-width:870px){
   
    .navi{
        top: 0;
        left: 0;
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 4rem;


    }
    .navi a .contact-btn{

        padding: 0.5rem;
        border-radius: 10px;
        background-color:  #6B8F71;
        color: #FFF8F0;
        box-sizing: border-box;

    }
    .navi a .contact-btn:hover{
        background-color:  #5C6B45;

    }
    .navi a {

        height: 100%;
        font-size:max(1.25rem,6vw);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.5vh;
        color: #2e2d2d;
    
    }
    .navi .home-link {
        font-size: 7vw;
        margin-right: 3vh;
        font-family: Bonheur Royale, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    
    
    .hero {
        margin-top: 4rem;
        padding: 4rem 0 75vh 0;

    }


.butn {
    position: absolute;
    top: 77%;
    background-color: #8B1A1A;
    padding: 1.6rem 2rem;
    border: none;
    font-size: 2.2rem;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-family: Poppins, Bonheur Royale
}


.butn:hover{
    transform: scale(1.1);
    transition: ease-in-out 200ms 100ms ;
}
.hero-text {
    position: absolute;
    display: flex;
    top: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    text-align: center;
    color: #FFF8F0;
    font-size: 20vh;
    text-wrap: wrap;
}

.hero-text h1 {

    color: #d87b1d;
    font-family: Bonheur Royale, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.hero-text h1:hover{
    transition: 300ms 200ms ease-in;
    transform: scale(1.1);
    color: #d87b1d;

}

.hero-text p {
    color: beige;
    font-size: 3.5vh;
    text-wrap: wrap;
    padding-top:1rem;
    margin: 0% 5%;

}
    

    .about .about-info {
        flex-direction: column;
        justify-content: center;



    }
    .about .about-info img{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin-left: 12.5%;

    }
    .about p {
        overflow: visible;
        font-size: clamp(1rem,3.5vh,1.3rem);
        margin-left:  min(1rem,10%);
        margin-right:  min(1rem,10%);
    
    }
    .contact{
            

    background-color: #FFF8F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}

.contact h4 {

    font-size: 2.5rem;
    color: #5C6B45;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.contact ul li {
    font-size: clamp(1rem,3.5vh,1.5rem);
    line-height: 120%;
    white-space: nowrap;
    
}
.contact iframe{
    position: static;
    top: 1px;

    width: 100%;
    
}
.chef{
    height: 30vh;
    z-index: 1;
   
        position:fixed;
        bottom: 120px;
        right: 20px;
        width: 250px;
    
        
    }


    .chef img{
        position:fixed;
        bottom: 120px;
        right: 40px;
        height: 120px;
        width: 80px;
        animation: appear 0.6s ease-in 2s 1 normal both,
        slideToLeft 0.6s ease-in 2s 1 normal both,
        flicker 6s ease-in 5s infinite normal both ;
            transform-origin: bottom center;
    
    
    }
    
    .chef::before{
        content: "Welcome!";
        position: absolute;
        z-index: 1;
        top: 140px;
        right: 80px;
        color: #2C2C2C;
        background-color: #FFF8F0;
        padding: 2vh 5vw;
        border: #d87b1d 1px solid;
        border-radius: 15px;
        opacity: 0;
    
    }
.chef:hover::before{
    content: "Welcome!";
    position: absolute;
    z-index: 1;
    top: 120px;
    right: 80px;
    color: #2C2C2C;
    background-color: #FFF8F0;
    padding: 2vh 5vw;
    border: #d87b1d 1px solid;
    border-radius: 15px;
    opacity: 1;

}

 


    }
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slideToLeft {
    from{
        transform: translateX(-30px);
    }
    to{
        transform: translateX(-0px);
    }
}
@keyframes flicker {
   0%,10%{
    transform: rotateZ(4deg);
   }
   5%{
    transform: rotateZ(-4deg);
   }
   12.5%,97.5%{
    transform: rotate(0deg);
   }
}
