@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-color: #FFF8F0;
    --text-color: #2C2C2C;
    --primary-red: #8B1A1A;
    --secondary-green: #5C6B45;
    --decorative-gold: #d87b1d;
    --strong-white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Bonheur Royale, sans-serif;
    color: var(--text-color);
    font-size: 16px;
}


nav {
    height: 60px;
    background-color: #FFF8F0;
    justify-items: flex-end;
    align-items: center;
}

nav .links-nav {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}

nav a {

    height: 100%;
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

nav a:hover {
    color: #d87b1d;
}

nav .home-link {

    margin-right: auto;
    font-family: Bonheur Royale, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.hero {
    padding: 23.8rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(images/image-2.png),
    linear-gradient(#504f4f,#2e2d2d);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;

}


button {
    position: absolute;
    top: 75%;
    background-color: #8B1A1A;
    padding: 2rem 3rem;
    border: none;
    font-size: 3em;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: Poppins, Bonheur Royale
}
button:hover{
    transform: scale(1.1);
}
.hero-text {
    position: absolute;
    top: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF8F0;
    font-size: 15em;
}

.hero-text h1 {
    color: #FFF8F0;
    font-family: Bonheur Royale, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.hero-text h1:hover{
    transform: scale(1.05);
}

.hero-text p {
    color: beige;
    font-size: 4rem;
    margin: 0% 0 0 10%;

}


.about {
    background-color: #FFF8F0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about h2 {
    margin-top: 3.5rem;
    font-size: 4.5rem;
    color: #5C6B45;
    margin-bottom: 1.5rem;
}

.about p {
    font-size: 2rem;
    margin: 1rem 3rem;
}

.about .about-content {
    display: flex;
    justify-content: space-between;
}

.about img {
    margin-top: 1rem;
    width: 80%;
}

.menu {
    background-color: #FFF8F0;
    padding-bottom: 3rem;
}

.menu h2 {
    font-size: 4.5rem;
    color: #5C6B45;
    padding-bottom: 2.5rem;
    padding-top: 3.5rem;
    text-align: center;
}

.menu .panels {

    margin-left: 7.5%;
    margin-right: 7.5%;
    display: grid;
    gap: 1.3rem;
    grid-template-areas: "recipe1 recipe2 recipe3"
        "recipe4 recipe5 recipe6";

}

.menu .panels .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color:whitesmoke;
    border: #d87b1d solid 1px;
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.menu .panels .panel img {
width: auto;
height: auto;}



.menu .panels .panel h3 {
    padding: 1rem 1rem 0 1rem;
    font-size: 2.5rem;
    color: #d87b1d;
}

.menu .panels .panel p {
    padding: 1.5rem;
}

.menu .panels .panel .price {
    font-weight: 700;
}

.contact {
    background-color: #FFF8F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;


}

.contact h4 {

    margin-top: 3.5rem;
    font-size: 2.5rem;
    color: #5C6B45;
    margin-bottom: 1.5rem;
    

}

.contact ul li {
    font-size: 1.5rem;
    line-height: 120%;
    white-space: nowrap;
    
}
iframe{
    padding-top: 5.5rem;
    width: 75%;


    
}
